.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
}

nav {

    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth {
    display: flex;
}

.wrapper {
    display: flex;
}

.filter {
    flex-grow: 1;
}

.contactForm {
    width: 40px
}

