.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.link.active {
  background: #007bff;
  color: #e84a5f!important;
}
.active {
  background: #007bff;
  color: #e84a5f!important;
}

.container {
  display: flex;
}
